.footer__section {
    padding: 40px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-time-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__links a {
    text-decoration: none;
    color: inherit;
    /* cursor: pointer; */
}

.footer__links li {
    list-style: none;
}

@media screen and (max-width: 1115px) {
    .footer__links {
     font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .footer__links {
     display: none;
    }
}