.gallery {
    /* background-color: orange; */
    padding-bottom: 92px;
}

.gallery-img__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    column-gap: 20px;
    row-gap: 30px;

    margin-top: 20px;
}