.header {
    height: 100vh;
    background: linear-gradient(0deg, #000000cc 0%, rgba(0, 0, 0, 0.6) 100%), url(../assets/IMG-2.jpg), lightgray 50%;

    background-size: cover;
    background-position: top;

}

.hero__heading {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    font-size: 96px;
    font-weight: 700;
}